body { background-color: lightgray ;}

header { background-color: black; color: white; border-style: double;padding: 10px; text-align: center; }

.card-body { padding: 0px; margin: 0px; }
.card-img-top { border-style: dashed; box-shadow: 10px 10px gray; width: 430px; height: 250px; }
.top-padding { padding-top: 20px ;} 








